doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/topic') Server Side Javascript
    ul
      each topic in topics
        li
          - rid = encodeURIComponent(topic['@rid'])
          a(href='/topic/'+rid)=topic.title
    article
      h1=topic.title+'게시글을 삭제하시겠습니까?'
      - rid = encodeURIComponent(topic['@rid'])
      form(action='/topic/'+rid+'/delete' method='post')
        p
          input(type='submit' value='YES')
          input(type='button' value='NO' onclick='location.href="/topic"')
